@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

.container::-webkit-scrollbar{
    visibility:hidden;
}

.nav-item:hover .nav-underline{
    visibility: visible;
}

.bg-image{
    background-image: url(../../public/herobg.webp);
    background-size: cover;
    background-position: center;
    z-index: -1;
}