@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

.custom::-webkit-scrollbar{
    background: transparent;
}

.bg-image{
    background-image: url(../../public/bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.info{
    animation: f1InfoAnimations;
    animation-direction: linear;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
@keyframes f1InfoAnimations{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}