@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

.container::-webkit-scrollbar{
    visibility:hidden;
}

.nav-item:hover .nav-underline{
    visibility: visible;
}

.bg-image{
    background-image: url(../../public/herobg.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale();
    transition: filter 0.5s ease-in-out;
    z-index: -1;
}
.bg-image:hover{
    filter: none;
}